<div class='col-md-8 col-md-offset-2'>
	<h2 class='page-header'>New Questions for <%= @quiz.name %><%= link_to "Cancel", classroom_quiz_path(@classroom, @quiz), class: 'pull-right btn btn-secondary`	' %></h2>

	<%= form_for [@quiz, @question] do |f|  %>
		<div class='form-group'>
			<%= f.label :content, "Question" %>
			<%= f.text_field :content, class: 'form-control', placeholder: "What is the question?!" %>
		</div>
		
		<div class='form-group'>
			<div class="radio">
				<div class='col-md-12'>
			  	<input type="radio" name="question[answer_id]" class='form-control pull-left' value='0'>
					<input name='question[answers][]' placeholder='Please insert an answer' class='form-control'>
				</div>
			</div>
		</div>

		<div class='form-group'>
			<div class="radio">
				<div class='col-md-12'>
			  	<input type="radio" name="question[answer_id]" class='form-control' value='1'>
					<input name='question[answers][]' placeholder='Please insert an answer' class='form-control'>
				</div>
			</div>
		</div>
		<div class='new-groups'>
		</div>

		<button id="add-answer" class='btn btn-info'>Add Another Answer</button>
		<div class='form-group pull-right'>
			<%= f.submit "Save Question And Create Another", class: "btn btn-secondary" %>
			<%= f.submit "Save Question And View Quiz", class: "btn btn-secondary" %>
		</div>
	<% end %>
</div>